<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Cadastro_Projeto_BD.Properties.Settings.BoeMarketTesteConnectionString"
            connectionString="Data Source=AIRTON-NOTEBOOK\AS_BD;Initial Catalog=BoeMarketTeste;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>